* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	width: 100%;
}

body::-webkit-scrollbar {
	width: 0;
}

.container {
	padding: 0 5vw;
}

.d-none {
	display: none;
}

#sentieri-button-scroll.d-none {
	display: none;
}

.primary-color {
	color: rgb(198, 88, 82);
}

/* HEADER */

header#primary-header {
	background: transparent;
	padding: 0 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10%;
	min-height: 50px;
	background-size: cover;
	position: fixed;
	width: 100%;
	z-index: 99;
}

header#primary-header.scrolled {
	background: rgba(221, 202, 201, 0.95);
	transition: background 500ms;
	-webkit-transition: background 1500ms;
	-moz-transition: background 500ms;
	-ms-transition: background 500ms;
	-o-transition: background 500ms;
}

header#primary-header #sentieri-logo {
	height: 90%;
}

header#primary-header #sentieri-logo img {
	height: 100%;
	width: auto;
}

header#primary-header h1 {
	color: rgb(198, 88, 82);
	font-weight: 200;
}

header.fixed#primary-header {
	position: fixed;
}

/* ==================== */
/* === OVERLAY MENU === */
/* ==================== */

#overlay-menu {
	background-color: rgb(198, 88, 82);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	padding-top: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
}

#overlay-menu.active {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.8s;
}

/* === LOGO AND BUTTON === */
.class-header2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#secondary-header {
	background: none;
	height: 10vh;
	min-height: 50px;
	width: 100%;
	z-index: 99;
}

/* === HAMBURGER === */

.hamburger {
	float: right;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
	background-color: white;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	background-color: rgb(198, 88, 82);
}

span#hamburger.margin-10.hamburger.hamburger--collapse {
	padding: 0;
}

@media screen and (max-width: 645px) {
	.hamburger-inner,
	.hamburger-inner::before,
	.hamburger-inner::after {
		background-color: rgb(198, 88, 82);
	}
}

/* SECTION 1 */

section#sentieri-first {
	position: relative;
	height: 100vh;
	background: rgb(198, 88, 82);
	background: radial-gradient(circle, rgba(198, 88, 82, 0.5) 0%, rgba(255, 255, 255, 1) 72%);
	overflow: hidden;
}

section#sentieri-first::before {
	position: absolute;
	top: 30%;
	right: -50%;
	content: '';
	width: 100%;
	height: 100%;
	background-image: url('./img/logo-casa-sentieriBANNER.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

section#sentieri-first::after {
	position: absolute;
	top: -30%;
	left: -55%;
	content: '';
	width: 100%;
	height: 100%;
	background-image: url('./img/logo-casa-sentieriBANNER.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

div#sentieri-cit-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

#sentieri-cit-cont h1 {
	color: #766248;
	font-weight: 400;
	width: 60%;
	text-align: center;
	margin: auto;
	padding-bottom: 5px;
}

#sentieri-cit-cont {
	text-align: center;
}

#sentieri-cit-cont blockquote {
	color: rgb(198, 88, 82);
	margin-top: .5rem;
	font-size: 0.8rem;
}

#sentieri-scroll-cont {
	color: rgb(198, 88, 82);
	font-size: 0.8rem;
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
	animation: fluctuate 3s ease-in-out infinite;
	-webkit-animation: fluctuate 3s ease-in-out infinite;
}

@keyframes fluctuate {
	0% {
		transform: translate(-50%, 0px);
		-webkit-transform: translate(-50%, 0px);
		-moz-transform: translate(-50%, 0px);
		-ms-transform: translate(-50%, 0px);
		-o-transform: translate(-50%, 0px);
	}
	50% {
		transform: translate(-50%, 5px);
		-webkit-transform: translate(-50%, 5px);
		-moz-transform: translate(-50%, 5px);
		-ms-transform: translate(-50%, 5px);
		-o-transform: translate(-50%, 5px);
	}
	100% {
		transform: translate(-50%, 0px);
		-webkit-transform: translate(-50%, 0px);
		-moz-transform: translate(-50%, 0px);
		-ms-transform: translate(-50%, 0px);
		-o-transform: translate(-50%, 0px);
	}
}

/* SECTION 2 */

#sentieri-second {
	padding-top: 7vh;
	line-height: 1.5;
}

#sentieri-mission-cont {
	width: 75%;
	margin-top: 2rem;
}

#sentieri-second .titolo-cont img {
	width: auto;
	height: 40px;
	margin-right: 10px;
}

#sentieri-second .titolo-cont {
	display: flex;
	align-items: center;
	margin-bottom: 3%;
}

#sentieri-second .p-cont p {
	padding: 3% 0;
	font-weight: 200;
}

#sentieri-obbiettivi-cont {
	display: flex;
	justify-content: flex-end;
	text-align: left;
	margin-top: 2rem;
}

#sentieri-obbiettivi-cont div#flex-cont {
	width: 75%;
}

@media screen and (max-width: 700px) {
	#sentieri-obbiettivi-cont div#flex-cont,
	#sentieri-mission-cont {
		width: 100%;
	}
}

#sentieri-obbiettivi-cont .titolo-cont {
	justify-content: flex-end;
	padding-top: 3%;
	margin-bottom: 3%;
}

#sentieri-obbiettivi-cont .titolo-cont img {
	width: auto;
	height: 40px;
	margin-left: 10px;
	margin-right: 0;
}

#sentieri-obbiettivi-cont .p-cont ul.list-one {
	list-style: none;
	counter-reset: my-awesome-counter;
}

#sentieri-obbiettivi-cont .p-cont ul.list-one li {
	counter-increment: my-awesome-counter;
	text-align: left;
	padding-bottom: 1.2rem;
	font-weight: 200;
}

#sentieri-obbiettivi-cont .p-cont ul.list-one li::before {
	content: counter(my-awesome-counter) '. ';
	color: rgb(198, 88, 82);
	font-weight: 700;
}

#sentieri-obbiettivi-cont .p-cont ul.list-two {
	list-style: none;
	margin-left: 2rem;
}

#sentieri-obbiettivi-cont .p-cont ul.list-two li {
	text-align: left;
	padding-bottom: 1.2rem;
	font-weight: 200;
}

/* FORM */

#sentieri-iscrizione-cont .iscrizione-titolo-cont h1 {
	margin-left: auto;
	margin-top: 50px;
	text-align: center;
	font-weight: 100;
	font-size: 2.8em;
	color: rgb(198, 88, 82);
	margin-bottom: 1rem;
	cursor: pointer;
}

#sentieri-iscrizione-cont .iscrizione-titolo-cont h1 span {
	color: #c4a479;
}

.iscrizione-form-cont div {
	width: 70%;
	max-width: 500px;
	margin: auto;
}

.iscrizione-form-cont .formStyle {
	background-color: #ffffff;
	padding: 20px 5px;
	width: 100%;
	max-width: 500px;
	margin-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(198, 88, 82);
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	font-size: 1em;
	font-weight: 100;
	color: rgb(198, 88, 82);
}

.iscrizione-form-cont .formButton {
	line-height: 1.2;
	background-color: #ffffff;
	color: rgb(198, 88, 82);
	font-size: 28px;
	font-weight: 500;
	padding: 6px 12px;
	margin-top: 25px;
	text-decoration: none;
}

#last-input {
	margin-bottom: 50px;
}

.iscrizione-form-cont .formButton:hover {
	background-color: rgb(198, 88, 82);
	color: #ffffff;
}

.iscrizione-form-cont .formButton:active {
	position: relative;
	top: 3px;
}

/*To remove the outline that appears on clicking the input textbox*/
.iscrizione-form-cont input:focus {
	outline: none;
}

/* To format the placeholder text color */
.iscrizione-form-cont ::-webkit-input-placeholder {
	color: rgb(198, 88, 82);
}

.iscrizione-form-cont :-moz-placeholder {
	/* Firefox 18- */
	color: rgb(198, 88, 82);
}

.iscrizione-form-cont ::-moz-placeholder {
	/* Firefox 19+ */
	color: rgb(198, 88, 82);
}

.iscrizione-form-cont :-ms-input-placeholder {
	color: rgb(198, 88, 82);
}

/* SECTION 3 */

#sentieri-third .titolo-cont img {
	width: auto;
	height: 40px;
	margin-right: 10px;
}

#sentieri-third .titolo-cont {
	margin-top: 3rem;
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

#sentieri-third .articoli-cont {
	width: 100%;
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
	justify-content: space-evenly;
}

#sentieri-third .sentieri-card {
	width: 30%;
	min-width: 250px;
	margin-bottom: 2rem;
	height: 35vh;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

#sentieri-third .img-cont {
	border-radius: 5px 5px 0px 0px;
	height: 60%;
	width: 100%;
	overflow: hidden;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-ms-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
}

#sentieri-third .img-cont img {
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	object-fit: cover;
}

#sentieri-third .text-cont {
	background-color: rgba(198, 88, 82, 0.1);
	border-radius: 0 0 5px 5px;
	padding: 0.7rem;
	height: 40%;
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
}

#sentieri-third ::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
#sentieri-third ::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
#sentieri-third ::-webkit-scrollbar-thumb {
	background: rgb(198, 88, 82);
}

#sentieri-button-scroll {
	background-color: rgba(198, 88, 82, 0.6);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: white;
	line-height: 1.5rem;
	cursor: pointer;
}

footer {
	width: 100%;
	margin-top: 3rem;
	height: 20vh;
	background-color: rgb(198, 88, 82);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}